{% load humanize %}
{% load template_filters %}

<div style="width: 70%; margin-left: 15%;" class="table-responsive border rounded-2">
    <table class="table table-bordered table-dark table-hover table-striped align-middle table_morecondensed">

        <thead>
            <tr>
                <th colspan="14" class="text-center">
                   <span class="badge bg-success">{{ header }} 2023</span>
                </th>
            </tr>
            <tr class="text-center">
<!--                <th>Category</th>-->
                <th></th>
                <th><span class="badge bg-success">January</span></th>
                <th><span class="badge bg-success">February</span></th>
                <th><span class="badge bg-success">March</span></th>
                <th><span class="badge bg-success">April</span></th>
                <th><span class="badge bg-success">May</span></th>
                <th><span class="badge bg-success">June</span></th>
                <th><span class="badge bg-success">July</span></th>
                <th><span class="badge bg-success">August</span></th>
                <th><span class="badge bg-success">September</span></th>
                <th><span class="badge bg-success">October</span></th>
                <th><span class="badge bg-success">November</span></th>
                <th><span class="badge bg-success">December</span></th>
                <th><span class="badge bg-danger">Total</span></th>
            </tr>

        </thead>

        <tbody class="text-end">
            {% for main_category, subcategories in summary_table.items %}

                <tr>
                    <th colspan="14" class="text-center">
                        <i class="bi bi-arrow-down"></i> <span class="badge rounded-pill bg-primary">{{ main_category }}</span> <i class="bi bi-arrow-down"></i>
                    </th>
                </tr>
                <tr>

                    <th><span class="badge bg-danger">Monthly totals:</span></th>

                    {% with 'January February March April May June July August September October November December' as months_list %}
                        {% with subcategories|last as totals_per_month %}
                            {% for i in months_list.split %}
                                {% with value=totals_per_month.total_per_month|get_item:i %}
                                    <th class="nowrap">
                                        <span {% if value != 0 %} style="color: #5F9EA0;" {% endif %}>
                                            {{ value|floatformat:2|intcomma }}
                                        </span> PLN
                                    </th>
                                {% endwith %}
                            {% endfor %}
                        {% endwith %}
                    {% endwith %}

                    {% for main_cat, total_amount_for_cat in summary_table_total.items %}
                        {% if main_cat == main_category %}
                            <th class="nowrap">{{ total_amount_for_cat|floatformat:2|intcomma }} PLN</th>
                        {% endif %}
                    {% endfor %}

                </tr>

                {% with 'January February March April May June July August September October November December Total_for_sub' as months_list %}
                    {% for subcategory in subcategories %}
                        {% if "subcategory" in subcategory %}
                            <tr>
                                <td class="nowrap"><span class="badge rounded-pill bg-secondary">{{ subcategory.subcategory }}</span></td>

                                {% for month in months_list.split %}
                                    {% with value=subcategory.summary|get_item:month %}
                                        <td class="nowrap">
                                            <span {% if value != 0 %} style="color: #5F9EA0;" {% endif %}>
                                                {{ value|floatformat:2|intcomma }} PLN
                                            </span>
                                        </td>
                                    {% endwith %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endwith %}

            {% endfor %}

        </tbody>
    </table>
</div>