{% load static %}
<form style="width: 150px; margin-right: 10px;"
      id="transaction-filter-form"
      class="filter-form"
      hx-get="{% url 'budget:transactions' %}"
      hx-target="#transaction-table-content"
      hx-push-url="true"
      hx-trigger="change from:select,
         change from:input[name='category']:not(#category-select-all),
         change from:input[name='parent_category']:not(#parent-category-select-all),
         change from:input[name='date_from'],
         change from:input[name='date_to']">

    {% include 'budget/filters/filters_label.html'%}

    {% include 'budget/filters/filter_transaction_type.html'%}

    {% include 'budget/filters/filter_parent_category.html'%}

    {% include 'budget/filters/filter_category.html'%}

    {% include 'budget/filters/filter_date_from_to.html'%}
</form>