{% extends "budget/base.html" %}
{% load static %}

{% block content %}

<!--<div style="display: flex; flex-wrap: wrap; margin-top: 1%; margin-left: 5%;">-->

<!-- Flex container -->
<div style="display: flex; margin-top: 1%; margin-left: 10px;">

    <!-- Filters Sidebar -->
    {% include 'budget/transactions_filters.html' %}

    <!-- Transactions Table -->
    <div id="transactions-table" style="width: 90%;">
        {% include 'budget/transactions_table.html' with transactions_page_obj=transactions_page_obj %}
    </div>

</div>
<!--</div>-->

<!-- Modal -->
<div id="modal" class="modal fade">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>

{% endblock content %}
