{% extends "budget/base.html" %}
{% load static %}

{% block content %}

<div style="color: #fff;">
    {{ sum_accs }}
</div>

<select id="dropdown">
    <option value="value1">Option 1</option>
    <option value="value2">Option 2</option>
    <option value="value3">Option 3</option>
</select>

<h1>Transactions</h1>

<div id='transactions-table' style="width: 75%; margin-left: 5%; margin-top: 1%;">

    <form id="transaction-filter-form"
          hx-get="{% url 'budget:transactions' %}"
          hx-target="#transaction-table-content"
          hx-push-url="true"
          hx-trigger="change from:select, change from:input[name='category']:not(#category-select-all)">

        <!-- Transaction Type Dropdown -->
        <label for="transaction_type" class="form-label">Filter by Type</label>
        <select name="transaction_type" id="transaction_type" class="form-select">
            <option value="">Any</option>
            {% for val, label in transaction_type_choices %}
            <option value="{{ val }}" {% if request.GET.transaction_type == val %}selected{% endif %}>
                {{ label }}
            </option>
            {% endfor %}
        </select>

        <!-- Dropdown-style Category Filter -->
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="categoryDropdownButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Filter by Category
            </button>

            <div class="dropdown-menu p-3" style="min-width: 250px;" aria-labelledby="categoryDropdownButton">
                <fieldset class="mb-0">
                    <div class="form-check">
                        <input class="form-check-input"
                               type="checkbox"
                               id="category-select-all"
                               checked>
                        <label class="form-check-label fw-bold" for="category-select-all">
                            Select All
                        </label>
                    </div>
                    <hr>
                    {% for category in categories %}
                    <div class="form-check">
                        <input class="form-check-input"
                               type="checkbox"
                               name="category"
                               value="{{ category.id }}"
                               id="category-{{ category.id }}"

                                {% if not request.GET.category or category.id|stringformat:"s" in request.GET|getlist:"category" %}checked{% endif %}>
                        <label class="form-check-label" for="category-{{ category.id }}">
                            {{ category.name }}
                        </label>
                    </div>
                    {% endfor %}
                </fieldset>
            </div>
        </div>

    </form>

    {% include 'budget/transactions_table.html' with transactions_page_obj=transactions_page_obj %}


    <div id="modal" class="modal fade">
        <div id="dialog" class="modal-dialog" hx-target="this"></div>
    </div>
</div>

{% endblock content %}
