{% extends "budget/base.html" %}

{% block content %}

    <div style="width: 70%;" class="table-responsive">
        <table class="table table-bordered table-dark table-hover table-striped align-middle">

            <thead>
                <tr>
                    <th>Category</th>
                    <th>January</th>
                    <th>February</th>
                    <th>March</th>
                    <th>April</th>
                    <th>May</th>
                    <th>June</th>
                    <th>July</th>
                    <th>August</th>
                    <th>September</th>
                    <th>October</th>
                    <th>November</th>
                    <th>December</th>
                    <th>Total</th>
                </tr>

            </thead>

            <tbody>
                {% for main_category, subcategories in summary_table.items %}

                    <tr>
                        <th colspan="14" class="text-center no-striping">
                            <i class="bi bi-arrow-down"></i> {{ main_category }} <i class="bi bi-arrow-down"></i>
                        </th>
                    </tr>
                    <tr>

                        <th>
                            Monthly totals:
                        </th>

                        {% with subcategories|last as totals_per_month %}
                            <th>{{ totals_per_month.total_per_month.January }}</th>
                            <th>{{ totals_per_month.total_per_month.February }}</th>
                            <th>{{ totals_per_month.total_per_month.March }}</th>
                            <th>{{ totals_per_month.total_per_month.April }}</th>
                            <th>{{ totals_per_month.total_per_month.May }}</th>
                            <th>{{ totals_per_month.total_per_month.June }}</th>
                            <th>{{ totals_per_month.total_per_month.July }}</th>
                            <th>{{ totals_per_month.total_per_month.August }}</th>
                            <th>{{ totals_per_month.total_per_month.September }}</th>
                            <th>{{ totals_per_month.total_per_month.October }}</th>
                            <th>{{ totals_per_month.total_per_month.November }}</th>
                            <th>{{ totals_per_month.total_per_month.December }}</th>
                        {% endwith %}

                        {% for main_cat, total_amount_for_cat in summary_table_total.items %}
                            {% if main_cat == main_category %}
                                <th>{{ total_amount_for_cat }}</th>
                            {% endif %}
                        {% endfor %}

                    </tr>

                    {% for subcategory in subcategories %}
                        {% if "subcategory" in subcategory %}
                        <tr>
                            <td>{{ subcategory.subcategory }}</td>
                            <td>{{ subcategory.summary.January }}</td>
                            <td>{{ subcategory.summary.February }}</td>
                            <td>{{ subcategory.summary.March }}</td>
                            <td>{{ subcategory.summary.April }}</td>
                            <td>{{ subcategory.summary.May }}</td>
                            <td>{{ subcategory.summary.June }}</td>
                            <td>{{ subcategory.summary.July }}</td>
                            <td>{{ subcategory.summary.August }}</td>
                            <td>{{ subcategory.summary.September }}</td>
                            <td>{{ subcategory.summary.October }}</td>
                            <td>{{ subcategory.summary.November }}</td>
                            <td>{{ subcategory.summary.December }}</td>
                            <td>{{ subcategory.summary.Total_for_sub }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock content %}