{% load static %}

<!-- Transaction Types Dropdown -->
<div class="dropdown">
  <button class="btn btn-light dropdown-toggle" type="button"
          id="{{ row_name }}_transaction_typeDropdownButton"
          data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
    Transaction Types
  </button>
  <div class="dropdown-menu p-3" style="min-width: 200px;" aria-labelledby="{{ row_name }}_transaction_typeDropdownButton">
    <fieldset class="mb-0">
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               id="{{ row_name }}_transaction_type-select-all"
               form="{{ form_name }}"
               {% is_checked request row_name|add:"_transaction_type" default=True prefix=row_name %}>
        <label class="form-check-label fw-bold" for="{{ row_name }}_transaction_type-select-all">
          Select All
        </label>
      </div>
      <hr>
      {% for name in transaction_types %}
      <div class="form-check">
        <input class="form-check-input"
               type="checkbox"
               name="{{ row_name }}_transaction_type"
               value="{{ name }}"
               id="{{ row_name }}-transaction-type-{{ name }}"
               form="{{ form_name }}"
               {% is_checked request row_name|add:"_transaction_type" name prefix=row_name %}>
        <label class="form-check-label" for="{{ row_name }}-transaction-type-{{ name }}">
          {{ name }}
        </label>
      </div>
      {% endfor %}
    </fieldset>
  </div>
</div>