.table{
    margin-bottom: auto;
}

.narrow-column{
    width: 1%; 
    vertical-align:middle
}

.font-size-small{
    font-size: 8px; 
}

.font-size-medium{
    font-size: 12px; 
}

.nowrap {
    white-space: nowrap;
  }

.fit-content{
    width: 0;
}

.filter-label{
    color: white;
    margin-bottom: 0;
    margin-top: .5rem;
}

.income-balance-bg{
    width: fit-content;
    padding-right: 5%;
    padding-left: 5%;
    background-color: rgba(25, 135, 84, 0.3) !important;

}

.expense-balance-bg{
    width: fit-content;
    padding-right: 5px;
    padding-left: 5px;
    background-color: rgba(220, 53, 69, 0.3) !important;

}
.balance-history{
    width: 30%; 
    margin-left: 35%; 
    margin-top: 1%;
}

/* For Mobile */
@media screen and (max-width: 780px) {
    .balance-history {
        width: 100%; 
        margin-left: auto; 
    }
}

/* For Tablets */
@media screen and (min-width: 780px) and (max-width: 1024px){
    .balance-history {
        --widthA: max(764px, 95%);  /* 764px because when exiting 780 range, this is the table width for 100% width*/
        width: var(--widthA);
        margin-left: calc((100% - var(--widthA))/2); 
    }
}

/* For Monitors */
@media screen and (min-width: 1024px) {
    .balance-history {
        --widthA: 958px;  /* 764px because when exiting 1024 range, this is the table width for 95% width*/
        width: var(--widthA);
        margin-left: calc((100% - var(--widthA))/2); 
    }
}

@keyframes fadeInCell {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#transaction-table-content .td-t9ns-text,
#summary-table-content .td-summary-text,
#summary-detailed-table-content .td-summary-text {
  animation: fadeInCell 0.4s ease-in-out;
}

/* Prevent scrollbar flickering during animations */
#transaction-table-content .table-responsive {
  overflow-y: hidden !important; /* no vertical scrollbar */
  scrollbar-width: none;         /* Firefox */
}

/* For WebKit-based browsers (Chrome, Safari) */
#transaction-table-content .table-responsive::-webkit-scrollbar,
#summary-table-content .table-responsive::-webkit-scrollbar,
#summary-detailed-table-content .table-responsive::-webkit-scrollbar {
  display: none;
}