.table_morecondensed>thead>tr>th,
.table_morecondensed>tbody>tr>th,
.table_morecondensed>tfoot>tr>th,
.table_morecondensed>thead>tr>td,
.table_morecondensed>tbody>tr>td,
.table_morecondensed>tfoot>tr>td{ 
    padding: 5px;
}

body {
    /* background-color: #010409; */
    /* background-color: rgb(0, 29, 78); */
    /* background-color: rgb(1, 13, 50); */
    /* background: linear-gradient(to bottom right, rgb(1, 9, 34), rgb(0, 29, 78)); */
    background: #0a0f26;
    /* background: linear-gradient(to bottom right, rgb(0, 29, 78), rgb(1, 9, 34)); */
    /*font-family: 'Manrope', sans-serif;*/
    font-family: 'Satoshi', sans-serif;
    min-height: 100vh;
    background-repeat: no-repeat;
    /* font-family: 'IBM Plex Sans', sans-serif; */ /* maybe good for dashboard? */
    /* font-family: 'Space Grotesk', sans-serif; */ /* not a fan of numbers */
    /* font-family: 'Orbitron', sans-serif; */ /* only for some headers */
    /* font-family: 'DM Sans', sans-serif; */ /* looks like sligthly bolder satoshi, rounder and fuller? */
    /* font-family: 'Urbanist', sans-serif; */ /* more like Manrope than Satoshi */
    /* font-family: 'Outfit', sans-serif; */ /* bold Satoshi */
}

.budget-content {
    display: flex;
    margin-top: 1%; 
    margin-left: 10px;   
}