{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load template_filters %}

<div id="transaction-table-content">
    <h1 class="text-center text-white">Transactions</h1>

    <div class="summary-container mb-3 text-white">
    <!--    <p><strong>Accounts Total Balance:</strong> {{ sum_accs }}</p>-->
    <!--    <p><strong>Incoming Total:</strong> {{ totals.INCOMING }}</p>-->
    <!--    <p><strong>Outgoing Total:</strong> {{ totals.OUTGOING }}</p>-->
    <!--    <p><strong>Inner Total:</strong> {{ totals.INNER }}</p>-->
    <!--    <p><strong>Balance:</strong> {{ balance }}</p>-->
    {% include 'budget/transactions/transactions_value_cards.html' %}

    </div>
<div class="table-responsive border rounded-2">
    <table class="table table-dark table-hover table-striped align-middle">
        <thead>
        <tr class="align-middle">
<!--            <th><a href="{% url 'budget:transaction_add' %}" class="btn btn-primary bi bi-plus"></a></th>-->
            <th><a hx-get="{% url 'budget:transaction_add' %}" hx-target="#dialog" class="btn btn-primary bi bi-plus"></a></th>
            <th>Index</th>
            <th>Date</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Type</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions_page_obj %}
        <tr hx-get="{% url 'budget:transactions_by_category' transaction.category_id %}"
            hx-target="#dialog-transactions-by-cat"
            hx-on="click"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Description: {{ transaction.description }}" class="transactions-row-hover">
<!--            <td>duplicate</td>-->
            <td class="text-center narrow-column font-size-small" data-bs-toggle="tooltip" data-bs-placement="top" title="Create a copy"><span class="td-t9ns-text">
                <a hx-get="{% url 'budget:duplicate_transaction' transaction.id %}"
                   hx-target="#dialog"
                   hx-on="click"
                   class="btn btn-outline-primary fa-regular fa-clone"></a>
            </span></td>
            <td class="text-center narrow-column font-size-medium"><span class="td-t9ns-text">{{ transactions_page_obj|length|sub:forloop.counter|add:1 }}</span></td>
            <td class="nowrap"><span class="td-t9ns-text">{{ transaction.date }}</span></td>
            <td class="nowrap"><span class="td-t9ns-text">{{ transaction.created_at }}</span></td>
            <td class="nowrap"><span class="td-t9ns-text">{{ transaction.updated_at }}</span></td>
            <td class="nowrap"><span class="td-t9ns-text">{{ transaction.category }}</span></td>
            <td><span class="td-t9ns-text">{{ transaction.amount }}</span></td>
            <td><span class="td-t9ns-text">{{ transaction.origin }}</span></td>
            <td><span class="td-t9ns-text">{{ transaction.destination }}</span></td>
            <td><span class="td-t9ns-text">
                {% if transaction.transaction_type == 'INCOMING' %}
                    <i class="fas fa-arrow-down text-success"></i>  <!-- Incoming transaction -->
                {% elif transaction.transaction_type == 'OUTGOING' %}
                    <i class="fas fa-arrow-up text-warning"></i>  <!-- Outgoing transaction -->
                {% elif transaction.transaction_type == 'INNER' %}
                    <i class="fas fa-arrows-alt-h text-light"></i>  <!-- Inner transaction -->
                {% else %}
                    <i class="fas fa-question-circle"></i>  <!-- None-->
                {% endif %}
            </span></td></span>
            <td class="nowrap"><span class="td-t9ns-text">
<!--                <a href="{% url 'budget:transaction_edit' transaction.id %}" class="btn btn-outline-primary bi bi-pen" style="font-size: 10px;"></a>-->
                <a hx-get="{% url 'budget:transaction_edit' transaction.id %}" hx-target="#dialog" class="btn btn-outline-primary bi bi-pen" style="font-size: 10px;"></a>
                <a href="{% url 'budget:transaction_delete' transaction.id %}" class="btn btn-outline-danger bi bi-trash" style="font-size: 10px; margin-left: 10px;"></a>
            </span></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Pagination links -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-2">
        {% if transactions_page_obj.has_previous %}
            <li class="page-item">
                {% htmx_pagelink "&laquo; First" 1 %}
            </li>
            <li class="page-item">
                {% htmx_pagelink "Previous" transactions_page_obj.previous_page_number %}
            </li>
            <li class="page-item">
                {% htmx_pagelink transactions_page_obj.previous_page_number transactions_page_obj.previous_page_number %}
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo; First</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
        {% endif %}

        <li class="page-item active" aria-current="page">
            <span class="page-link">{{ transactions_page_obj.number }}</span>
        </li>

        {% if transactions_page_obj.has_next %}
            <li class="page-item">
                {% htmx_pagelink transactions_page_obj.next_page_number transactions_page_obj.next_page_number %}
            </li>
            <li class="page-item">
                {% htmx_pagelink "Next" transactions_page_obj.next_page_number %}
            </li>
            <li class="page-item">
                {% htmx_pagelink "Last &raquo;" transactions_page_obj.paginator.num_pages %}
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Last &raquo;</a>
            </li>
        {% endif %}
    </ul>
</nav>
</div>
