{% extends "budget/base.html" %}
{% load static %}

{% block content %}

<!--<div style="display: flex; flex-wrap: wrap; margin-top: 1%; margin-left: 5%;">-->

<!-- Flex container -->
<div class="budget-content">

    <!-- Filters Sidebar -->
    {% include 'budget/transactions/transactions_filters.html' %}

    <!-- Transactions Table -->
    <div id="transactions-table" style="width: 90%;">
        {% include 'budget/transactions/transactions_table.html' with transactions_page_obj=transactions_page_obj %}
    </div>

</div>
<!--</div>-->

<!-- All Modals with id = #dialog -->
<div id="modal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>

<!-- Modal for transactions by category -->
<div id="modal-transactions-by-cat" class="modal fade" tabindex="-1" aria-hidden="true">
    <div id="dialog-transactions-by-cat" class="modal-dialog modal-lg" hx-target="this"></div>
</div>


{% endblock content %}
