{% extends "budget/base.html" %}
{% load static %}

{% block content %}

<!--<div style="display: flex;">-->
<!-- <div id="balance-chart-container" class="chart-panel">-->
<!--  <div id="balance-chart" ></div>-->
<!-- </div>-->
<!--</div>-->

<div style="color: white; text-align: center;" class="mb-3 mt-3">
    <h1>DASHBOARD</h1>
</div>

<div class="filter-row-wrapper transition-item">
    <i class="bi bi-filter" style="color: white;"></i>

    <label for="" class="toggle-switch-label">Show Filters</label>
    <label class="toggle-switch">
        <input type="checkbox" id="filterToggle" onclick="toggleRowFilters()"/>
        <span class="slider"></span>
    </label>

</div>

<!--<div style="margin-left: 10%; margin-right: 10%;">-->
<div style="margin-left: 2%; margin-right: 2%;">
    <!--<div >-->

    {% include 'budget/dashboard/dashboard_filter_row_cards.html'%}

    <div id="dashboard-cards-container" class="cards-row chart-row-6 mb-5 hoverable-items">
        {% include 'budget/dashboard/dashboard_cards_partial.html'%}
    </div>

</div>

{% include 'budget/dashboard/dsb_summary_row_filter.html'%}

<div class="chart-row chart-row-4 mb-3 hoverable-items truncate">
    <div id="summaries-chart-container" class="chart-col-1-4 chart-panel" style="overflow: hidden;">
        {% include 'budget/dashboard/common_chart_title.html' with title='Summaries by'%}
        <div id="summaries-chart"></div>
    </div>
    <div id="volatility-trend-chart-container" class="chart-col-1-4 chart-panel">
        {% include 'budget/dashboard/common_chart_title.html' with title='Expenses/Income Volatility'%}
        <div id="volatility-trend-chart"></div>
    </div>
    <div id="cumulative-chart-container" class="chart-col-1-4 chart-panel">
        {% include 'budget/dashboard/common_chart_title.html' with title='Cumulative Expenses/Income'%}
        <div id="cumulative-chart"></div>
    </div>
    <div id="savings-rate-chart-container" class="chart-col-1-4 chart-panel">
        {% include 'budget/dashboard/common_chart_title.html' with title='Savings Rate'%}
        <div id="savings-rate-chart"></div>
    </div>
</div>


<!-- Embed the data in a <script> tag as a JSON object -->

{{ monthly_data|json_script:"balance-chart-data" }}

<script defer type="module" src="{% static 'budget/js/dashboard_charts/dashboard_charts.js' %}"></script>
<script defer src="{% static 'budget/js/dashboard_charts/dashboard.js' %}"></script>

<!-- Modal for dashboard cards -->
<div id="dashboard-card-modal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div id="dialog-dashboard-card-modal" class="modal-dialog modal-lg" hx-target="this"></div>
</div>

<div id="modal-transactions-by-cat" class="modal fade" tabindex="-1" aria-hidden="true">
    <div id="dialog-transactions-by-cat" class="modal-dialog modal-lg" hx-target="this"></div>
</div>

<!--<script type="module">-->
<!--  import { initCharts } from "{% static 'budget/js/dashboard_charts/charts.js' %}";-->
<!--  import "{% static 'budget/js/dashboard_charts/dashboard.js' %}";-->

<!--  document.addEventListener("DOMContentLoaded", () => {-->
<!--    initCharts(); // Run chart rendering only if needed-->
<!--  });-->
<!--</script>-->


{% endblock content %}