{% load static %}
<div class="chart-col-1-6">
    {% include 'budget/dashboard/dashboard_card.html' with card_type='incoming' title='Incoming' kpis=kpis.income date_range=date_range %}
</div>
<div class="chart-col-1-6">
    {% include 'budget/dashboard/dashboard_card.html' with card_type='outgoing' title='Outgoing' kpis=kpis.expenses date_range=date_range %}
</div>
<div class="chart-col-1-6">
    {% include 'budget/dashboard/dashboard_card.html' with card_type='inner' title='Inner' kpis=kpis.inner date_range=date_range %}
</div>
<div class="chart-col-1-6">
    {% include 'budget/dashboard/dashboard_card.html' with card_type='balance' title='Balance' kpis=kpis.net_savings date_range=date_range %}
</div>
<div class="chart-col-1-6">
    {% include 'budget/dashboard/dashboard_card.html' with card_type='accounts' title='Accounts' kpis=kpis.accounts_balance date_range=date_range %}
</div>
<div class="chart-col-1-6">
    {% include 'budget/dashboard/dashboard_card.html' with card_type='num_transactions' title='#T9Ns' kpis=kpis.num_transactions date_range=date_range %}
</div>

{% if 'cards_row' in submitted_rows %}
  <input type="hidden" name="submitted" value="cards_row" form="dashboard-filter-cards-row-form">
{% endif %}