{% load static %}
{% load template_filters %}

<div class="dashboard-card truncate"
     hx-get="{% url 'budget:transactions_by_category' 194 %}"
     hx-target="#dialog-transactions-by-cat"
     hx-on="click">

    <div style="display: flex; justify-content: center; align-items: center; gap: 0.4em;">
        <!-- Centered Title -->
        <div class="dashboard-card-title">{{ title }}</div>

        <!-- Refresh Button -->
        <button
                class="refresh-button"
                style="background: none; border: none; color: white; cursor: pointer; font-size: clamp(0.8rem, 1.5vw, 4rem); line-height: 1;"
                onclick="refreshCard(this)">
            &#x21bb;
        </button>
    </div>

    <hr>
    <div class="dashboard-card-text">{{ amount }}</div>
    <div class="date-range" style="font-size: 0.85em; color: white; margin-top: 4px;">{{ date_range }}</div>
    <hr>
    <div class="dashboard-card-footer">
        <div class="change nominal {% if amount_change|to_float >= 0 %}positive{% else %}negative{% endif %}">
            {{ amount_change|abs_val }} PLN
        </div>
        <div class="change percent {% if percentage_change|to_float >= 0 %}positive{% else %}negative{% endif %} mt-1">
            {{ percentage_change|abs_val }}%
        </div>
    </div>
</div>