{% load static %}
<div class="filter-row-wrapper filter-row-collapsible">
  <i class="bi bi-filter" style="color: white;"></i>

  <button class="refresh-button"
          hx-post="{% url 'budget:chart_summary' %}"
          hx-include="#dashboard-filter-summary-row-form"
          hx-vals='{"summary_row_refresh": true}'
          hx-target="#dashboard-summary-container"
          hx-swap="innerHTML"
          style="background: none; border: none; color: white; cursor: pointer; font-size: clamp(1.5rem, 1vw, 2rem); line-height: 1;">
    &#x21bb;
  </button>

  <div style="background: white; height: 33px; width: 1px; box-shadow: 0 0 30px white;"></div>

  <div class="filter-row">
    <input type="hidden" name="dsb_row_filter" value="summary_row" form="dashboard-filter-summary-row-form">


    {% include 'budget/dashboard_filters/dsb_filter_date_from_to.html' with row_name="summary_row" form_name="dashboard-filter-summary-row-form" %}

    {% include 'budget/dashboard_filters/dsb_filter_transaction_type.html' with row_name="summary_row" form_name="dashboard-filter-summary-row-form" %}

    {% include 'budget/dashboard_filters/dsb_filter_parent_category.html' with row_name="summary_row" form_name="dashboard-filter-summary-row-form" %}

    {% include 'budget/dashboard_filters/dsb_filter_category.html' with row_name="summary_row" form_name="dashboard-filter-summary-row-form" %}

    <form id="dashboard-filter-summary-row-form"
          hx-get="{% url 'budget:chart_summary' %}"
          hx-target="#dashboard-summary-container"
          hx-push-url="true"
          hx-trigger="submit"
          style="display: contents;">
      {% csrf_token %}
    </form>

    <input type="hidden" name="submitted" value="1" form="dashboard-filter-summary-row-form">

    <button form="dashboard-filter-summary-row-form" type="submit">Apply</button>

  </div>

</div>

