{% load static %}
<form style="width: 150px; margin-right: 10px;"
      id="summary-detailed-filter-form"
      class="filter-form"
      hx-get="{% url 'budget:monthly_summary_detailed' %}"
      hx-target="#summary-detailed-table-content"
      hx-push-url="true"
      hx-trigger="change from:select,
                  change from:input[name='parent_category']:not(#parent-category-select-all)">

    {% include 'budget/transactions_filters/filters_label.html'%}

    {% include 'budget/transactions_filters/filter_year.html'%}

    {% include 'budget/transactions_filters/filter_parent_category.html'%}

</form>