{% extends "base.html" %}
{% load static %}
{% load template_filters %}

{% block content %}

<div id='portfolio-details' class="dashboard-grid" style="max-width: 1800px">
    {% for dw in dashboard_widgets %}
        {% if dw.widget.widget_type == 'overview' %}
            {% include 'investments/overview_widget_partial.html' with widget=dw.widget dashboard_widget=dw %}
        {% else %}
            {% include 'investments/generic_chart_widget_partial.html' with widget=dw.widget dashboard_widget=dw %}
        {% endif %}
    {% endfor %}
</div>

{% endblock content %}
