{% extends "base.html" %}
{% load static %}
{% load template_filters %}

{% block content %}

<div id='portfolio-details' class="dashboard-grid" style="--grid-cols: {{ dashboard.grid_columns|default:32 }}; max-width: {{ dashboard.max_width_px }}px">
    {% for widget in widgets %}
        {% if widget.widget_type == 'overview' %}
            {% include 'investments/overview_widget_partial.html' with widget=widget %}
        {% elif widget.widget_type == 'table' %}
            {% include 'investments/table_widget_partial.html' with widget=widget %}
        {% else %}
            {% include 'investments/generic_chart_widget_partial.html' with widget=widget %}
        {% endif %}
    {% endfor %}
</div>

{% endblock content %}
