{% load static %}
{% load template_filters %}
{% load investments_filters %}

<div
    id="{{ chart_id|default:widget.id }}"
    class="widget chart-widget widget-card"
    data-widget-type="chart"
    data-widget-subtype="{{ widget.subtype|default:'timeseries' }}"
    data-widget-id="{{ widget.id }}"
    style="--row:{{ widget.row }}; --col:{{ widget.column }}; --w:{{ widget.width_units }}; --h:{{ widget.height_units }};"
>
    <div class="widget-title">{{ widget.title }}</div>
    <div class="chart-container" style="height: 100%;"></div>
    {% with "widget-data-"|addstr:widget.id as data_id %}
        {{ widget.widget_data|json_script:data_id }}
    {% endwith %}
</div>
