{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="dashboard-grid" style="width: 80%">
<!--    <div class="widget-card" style="&#45;&#45;col:1; &#45;&#45;row:1; &#45;&#45;w:1; &#45;&#45;h:1;">-->
<!--        <div class="widget-title">Combined Holdings</div>-->
<!--    </div>-->

<!--    <div class="widget-card" style="&#45;&#45;col:1; &#45;&#45;row:2; &#45;&#45;w:1; &#45;&#45;h:1;">-->
<!--        <div class="widget-title">Main Account</div>-->
<!--    </div>-->

<!--    <div class="widget-card" style="&#45;&#45;col:2; &#45;&#45;row:1; &#45;&#45;w:1; &#45;&#45;h:1;">-->
<!--        <div class="widget-title">IKE</div>-->
<!--    </div>-->

<!--    <div class="widget-card" style="&#45;&#45;col:2; &#45;&#45;row:2; &#45;&#45;w:1; &#45;&#45;h:1;">-->
<!--        <div class="widget-title">IKZE</div>-->
<!--    </div>-->

<!--    <div class="widget-card"style="&#45;&#45;col:3; &#45;&#45;row:1; &#45;&#45;w:1; &#45;&#45;h:2;">-->
<!--        <div class="widget-title">PPK</div>-->
<!--    </div>-->

<!--    <div class="widget-card"style="&#45;&#45;col:4; &#45;&#45;row:1; &#45;&#45;w:1; &#45;&#45;h:3;">-->
<!--        <div class="widget-title">PPK</div>-->
<!--    </div>-->
    <div class="widget-card" style="--col:1; --row:1; --w:2; --h:10;">
        <div class="widget-title">Combined Holdings</div>
    </div>

<!--    <div class="widget-card" style="&#45;&#45;col:1; &#45;&#45;row:6; &#45;&#45;w:1; &#45;&#45;h:5;">-->
<!--        <div class="widget-title">Main Account</div>-->
<!--    </div>-->

<!--    <div class="widget-card" style="&#45;&#45;col:2; &#45;&#45;row:1; &#45;&#45;w:1; &#45;&#45;h:5;">-->
<!--        <div class="widget-title">IKE</div>-->
<!--    </div>-->

<!--    <div class="widget-card" style="&#45;&#45;col:2; &#45;&#45;row:6; &#45;&#45;w:1; &#45;&#45;h:5;">-->
<!--        <div class="widget-title">IKZE</div>-->
<!--    </div>-->

    <div class="widget-card" style="--col:3; --row:1; --w:1; --h:10; --custom-width:400px; --align:start;">
        <div class="widget-title">XXX</div>
    </div>

    <div class="widget-card" style="--col:4; --row:1; --w:1; --h:13;">
        <div class="widget-title">XXX</div>
    </div>

<!--    <div class="widget-group" style="&#45;&#45;col:1; &#45;&#45;row:11; &#45;&#45;w:3; &#45;&#45;h:5; &#45;&#45;row-width:75%;">-->
<!--        <div class="widget-card" style="&#45;&#45;col:1; &#45;&#45;row:1; &#45;&#45;w:1; &#45;&#45;h:5;">-->
<!--            <div class="widget-title">X1</div>-->
<!--        </div>-->

<!--        <div class="widget-card" style="&#45;&#45;col:2; &#45;&#45;row:1; &#45;&#45;w:1; &#45;&#45;h:5;">-->
<!--            <div class="widget-title">X2</div>-->
<!--        </div>-->

<!--        <div class="widget-card" style="&#45;&#45;col:3; &#45;&#45;row:1; &#45;&#45;w:1; &#45;&#45;h:5;">-->
<!--            <div class="widget-title">X3</div>-->
<!--            dddd-->
<!--        </div>-->
<!--    </div>-->

    <div class="widget-card" style="--col:1; --row:11; --w:1; --h:5;">
        <div class="widget-title">X1</div>
    </div>

    <div class="widget-card" style="--col:2; --row:11; --w:1; --h:5;">
        <div class="widget-title">X2</div>
    </div>

    <div class="widget-card" style="--col:3; --row:11; --w:1; --h:5;">
        <div class="widget-title">X3</div>
        dddd
    </div>

    <div class="widget-card" style="--col:4; --row:14; --w:1; --h:5;">
        <div class="widget-title">XXX</div>
    </div>

    <div class="widget-card" style="--col:4; --row:19; --w:1; --h:5;">
        <div class="widget-title">XXX</div>
    </div>

    <div class="widget-card" style="--col:2; --row:16; --w:2; --h:5;">
        <div class="widget-title">XXX</div>
    </div>


</div>
{% endblock content %}
