{% load static %}
{% load template_filters %}
{% load investments_filters %}

<div class="widget-card"
     style="--row:{{ widget.row }}; --col:{{ widget.column }}; --w:{{ widget.width_units }}; --h:{{ widget.height_units }};">

    <div class="widget-header">
        <div class="widget-title-section">
            <div class="widget-title">{{ widget.title }}</div>
        </div>
    </div>

<!--    <div class="widget-table">-->
        <div class="widget-table-new table-card-neon table-responsive">
            <table class="table-neon">
                <thead>
                <tr>
                    {% for col in widget.data.columns %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
                </thead>

                <tbody>
                {% for row in widget.data.rows %}
                    <tr>
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
<!--    </div>-->

</div>